* {
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
}

body {
	margin: 0;
}

h1 {
	font-size: 175%;
}

p {
	border: 1px solid black;
	margin-left: 15px;
	padding: 10px;

}


.p1 {
	background-color: #00ffff;

}

.p2 {
	background-color: #ff0000;

}

.p3 {
	background: #00ff00;
	
}

/** All Devices **/
@media (min-width:992px ) {
	.col-lg-4 {
		float: left;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.p3 {
		margin-right: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6 {
		float: left;
		width: 50%;
		
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
	.p2  {
		margin-right: 15px;
	}
	.p3 {
		margin-right: 15px;
	}

}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.p1 {
		margin-right: 15px;
	}
	.p2 {
		margin-right: 15px;
	}
	.p3 {
		margin-right: 15px;
	}
}


.span {
	border: 1px solid;
	background-color: #ff69b4;
	font-size: 125%;
	float: right;
	margin: -10px;
	padding: 2px 15px;
}

h1 {
	text-align: center;
	margin: 50px;

}